__pycache__/
*.pyc
*.pyo
*.pyd
*.zip
.venv/
venv311/
venv/
.env
.ipynb_checkpoints/

## Audio and video files
*.ac3
*.wav
*.dts
*.mkv

data/interim/*
data/processed/*
models/*
artifacts/*

!data/interim/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!artifacts/.gitkeep